{% extends 'base.html'%}
<!------------------------------------------------------HERO------------------------------------------------------------------>
{% block con %}
<div class="page w_g_yellow">
          <div class="container">
              <a class="back" href="{{url_for('articles')}}"><div class="arrow"></div>Вернуться к списку статей</a>
            <div class="header-block_article">
              <h2 class="title-article">Качественная ковка</h2>
            </div>
            <div class="article_text">
                <p>Ковка – это искусство создания уникальных металлических изделий, которые могут использоваться в различных сферах жизни. Однако, не все ковки одинаково качественны. Как отличить хорошую ковку от плохой?</p>
                <div  class="article_picture_right"><img src='../static/pic/hkovka2.png'></div>
                <p>1. Качество материала</p>
                <p>Хорошая ковка должна быть выполнена из высококачественного металла, который обладает высокой прочностью и долговечностью. Плохая ковка может быть выполнена из низкокачественного металла, который быстро корродирует и теряет свои свойства.</p>
                <p>2. Равномерность и гладкость поверхности
                <p>Хорошая ковка имеет ровную и гладкую поверхность без видимых дефектов и несоответствий. Плохая ковка может иметь неровности, шероховатости и другие дефекты, которые могут повлиять на ее качество и прочность.</p>
                <p>3. Крепление деталей</p>
                <p>Хорошая ковка имеет прочное и надежное крепление деталей, которые не разъединятся со временем. Плохая ковка может иметь слабое крепление деталей, которые могут развалиться или развалиться со временем.</p>
                <p>4. Дизайн и эстетика</p>
                <p>Хорошая ковка имеет привлекательный дизайн и эстетику, которые соответствуют ее функциональности и использованию. Плохая ковка может иметь неэстетичный дизайн и некачественное исполнение, которые могут ухудшить ее внешний вид и использование.</p>
                <div class="article_picture_center"><img src="../static/pic/hkovka1.jpg"></div>
                <p>5. Цена </p>
                <p>Хорошая ковка может быть дороже плохой ковки, но это объясняется высоким качеством материалов, дизайном и трудоемкостью производства. Плохая ковка может иметь более низкую цену, но это может быть связано с использованием низкокачественных материалов и плохим качеством исполнения.</p>
                <p>В заключение, отличить хорошую ковку от плохой можно по нескольким признакам: качеству материала, равномерности и гладкости поверхности, креплению деталей, дизайну и эстетике, а также цене. При выборе ковки следует учитывать все эти факторы и выбирать только высококачественные изделия.</p>
            </div>
          </div>
      </div>
{% endblock %}