{% extends 'base.html'%}
<!------------------------------------------------------HERO------------------------------------------------------------------>
{% block con %}
<div class="page w_g_blue">
          <div class="container">
            <a class="back" href="{{url_for('articles')}}"><div class="arrow"></div>Вернуться к списку статей</a>
            <div class="header-block_article">
                <h2 class="title_article"><span></span>Жар и холод</h2>
            </div>
            <div class="article_text">
              <p>Ковка – это один из самых древних искусств, которое было известно еще в древности. Это процесс изменения формы металлического изделия путем его нагревания и давления.
              Существуют два основных вида ковки: горячая и холодная. В этой статье мы рассмотрим различия между горячей и холодной ковкой.</p>
              <h3>Горячая ковка</h3>
              <div  class="article_picture_left"><img src='../static/pic/gorkovka.jpg'></div>
              <p>Горячая ковка – это процесс, при котором металл нагревается до высокой температуры (обычно от 1000 до 1300 градусов Цельсия) и затем давится молотом или прессом.
              Горячая ковка используется для создания больших и сложных металлических изделий, таких как мечи, топоры, кастеты и другие оружейные предметы.</p>
              <p>Преимущества горячей ковки:<br>
              1. Горячая ковка позволяет создавать изделия большого размера и сложной формы.<br>
              2. Горячая ковка увеличивает прочность металла.<br>
              3. Горячая ковка позволяет создавать металлические изделия с различными текстурами и узорами.<br>
              4. Горячая ковка позволяет создавать металлические изделия с повышенной стойкостью к коррозии.<br>
              5. Горячая ковка позволяет создавать металлические изделия с повышенной твердостью и износостойкостью.</p>
              <h3>Холодная ковка</h3>
              <p>Холодная ковка – это процесс, при котором металл не нагревается до высокой температуры, а давится молотом или прессом при комнатной температуре.
              Холодная ковка используется для создания металлических изделий небольшого размера, таких как гвозди, болты, шурупы, колесные ободья и другие.
              Преимущества холодной ковки:<br><div  class="article_picture_right"><img src='../static/pic/holkovka.jpeg'></div>
              1. Ковка позволяет создавать металлические изделия малого размера и простой формы.<br>
              2. Позволяет создавать металлические изделия с высокой точностью и повторяемостью.<br>
              3. Холодная ковка позволяет создавать металлические изделия с высокой прочностью.<br>
              4. Позволяет создавать металлические изделия с повышенной устойчивостью к ударам.<br>
              5. Холодная ковка позволяет создавать металлические изделия с повышенной стойкостью к коррозии.</p>
              <h3>Сравнение горячей и холодной ковки</h3>
              <p>Горячая ковка и холодная ковка имеют свои преимущества и недостатки. Горячая ковка позволяет создавать большие и сложные металлические изделия, но требует больших затрат на оборудование и материалы.
              Холодная ковка позволяет создавать металлические изделия малого размера и простой формы, но не может создавать сложные металлические изделия.</p>
              <p>Горячая ковка увеличивает прочность металла, что делает его более износостойким и устойчивым к коррозии. Холодная ковка также увеличивает прочность металла, но не настолько, как горячая ковка.
              Горячая ковка позволяет создавать металлические изделия с различными текстурами и узорами, что делает их более привлекательными.
              Холодная ковка не позволяет создавать такие текстуры и узоры.</p>
              <p>В заключение можно сказать, что горячая и холодная ковка имеют свои преимущества и недостатки, и выбор между ними зависит от конкретной задачи.
              Если требуется создать большое и сложное металлическое изделие, то лучше использовать горячую ковку. Если же требуется создать металлическое изделие малого размера и простой формы,
              то лучше использовать холодную ковку.</p>
              <div class="article_picture_center"><img src="../static/pic/gorkovka2.jpg"></div>
            </div>
          </div>
      </div>
{% endblock %}