{% extends 'base.html'%}
<!------------------------------------------------------HERO------------------------------------------------------------------>
{% block con %}
<div class="page">
            <div class="container">
                <div class="mainblock">
                    <div class="text_onas">
                        Мы небольшая компания занмающаяся холодной и горячей ковкой. Стаж работы наших мастеров достигает 30 лет!
                        За это время образовалось мастерство в работе с проектами различной сложности? начиная оградками и заканчивая аранжереями
                        и искусными беседками.<br>
                        Нашей главной гордостью является качество - мы ручаемся за долговечность наших изделий.<br>
                        Мы находимся в Рязанской области в рп. Сараи по адресу ул. Чкалова д.50 и можем принимать заказы в области 50 км от населенного пункта.<br>
                        Клиенты SARkovka всегда остаются довольными, так как ожидаемому результату чрезвычайно сложно быть лучше фактического.
                    </div>
                    <div class="table">
                      <table width="70%">
                        <tr><th>Год</th><th>Количество выполненных заказов</th></tr>
                        <tr><td>2018</td><td>53</td></tr>
                        <tr><td>2019</td><td>44</td></tr>
                        <tr><td>2021</td><td>51</td></tr>
                        <tr><td>2022</td><td>73</td></tr>
                        <tr><td>2023</td><td>41</td></tr>
                      </table>
                    </div>
                    <div class="where">
                      <script type="text/javascript" charset="utf-8"
                        async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A81619f69a252413fecf3134126d14c78c9425d9c966a3dc7b9fc5353cc7bd7e6&amp;width=100%25&amp;height=501&amp;lang=ru_RU&amp;scroll=true">
                      </script>
                    </div>
                  </div>
            </div>
        </div>
{% endblock %}