{% extends 'base.html'%}
<!------------------------------------------------------HERO------------------------------------------------------------------>
{% block con %}
            <section class="page_mainblock mainblock">
              <div class="mainblock_container container">
                <div class="mainblock_body">
                  <h1 class="mainblock_title"><span>SARkovka</span> - Гарант красоты вашего дома и участка</h1>
                  <div class="mainblock_text">
                    Существует огромное количество ответов на вопрос "Почему мы?, и вот одни из них":
                  </div>
                </div>
                <div class="mainblock_image imbc">
                  <img src="static/pic/main-hummer.jpg" alt="cover">
                  <div class="grad"></div>
                </div>
              </div>
            </section>
<!------------------------------------------------------BLOCKS------------------------------------------------------------------>
          <div class="container">
            <section class="page_services services">
              <div class="services_body">
                <div class="services_column main">
                  <div class="services_item">
                    <h3 class="services_item_title">Высокое <br>качество</h3>
                    <div class="services_item_icon imbc"><img src="static/pic/rkovka2.jpg" alt="cover"></div>
                    <div class="services_item_text">За короткий срок мы зарекомендовали себя как надежный изготовитель</div>
                  </div>
                </div>
                <div class="services_column main">
                  <div class="services_item">
                    <h3 class="services_item_title">Доступные <br>цены</h3>
                    <div class="services_item_icon imbc"><img src="static/pic/dost.jpg" alt="cover"></div>
                    <div class="services_item_text">Низкие цены и скидки при заказе большого объема работ до 20%-30%
                    </div>
                  </div>
                </div>
                <div class="services_column main">
                  <div class="services_item">
                    <h3 class="services_item_title">Индивидуальный <br>подход</h3>
                    <div class="services_item_icon imbc"><img src="static/pic/индивидуальный-подход.jpg" alt="cover"></div>
                    <div class="services_item_text">Мы предлагаем индивидуальный подход к каждому клиенту 
                    </div>
                  </div>
                </div>
            </div>
          </section>
          <div class="reclam">
            <a href="https://svarog-rf.ru/" title="Перейти на страницу спонсора"><div class="half-block">
              <div class="half-block_text">
                Мы используем оборудование от лучшей в России фирмы СВАРОГ.
              </div>
              <div class="half-block_img">
                  <img src="static/pic/svarog-cropped.svg" alt="Изображение" class="imbc">
              </div>
            </div></a>
            <a href="https://dipos.ru/" title="Перейти на страницу спонсора"><div class="half-block">
              <div class="half-block_text">
                Мы используем оборудование от лучшей в России фирмы СВАРОГ.
              </div>
              <div class="half-block_img">
                  <img src="static/pic/дипос.png" alt="Изображение" class="imbc">
              </div>
            </div></a>
          </div>
          
<!---------------------------------------------------------ADVANTAGE--------------------------------------------------------------->
          <section class="page_selctor">
            <div class="selector-block">
              <div class="selector-img"><img src="static/pic/vor7.jpg" alt="Изображение"></div>
              <div class="selector-text">Ворота являются лицом любого участка. Именно роскошные ворота 
                встречают ваших гостей и создают впечатление о вас, как о хорошем хозяине, живущем в полном достатке 
                и в гармонии 
                <a href="static/vorota/vorota.html" title class="selector-button" title="Ворота">Перейти</a>
              </div>
            </div>
            <div class="selector-block">
              <div class="selector-img l"><img src="static/pic/per7.jpg" alt="Изображение"></div>
              <div class="selector-text l">Лестница вместе с изящными перилами, находящаяся у вас в доме или же 
                во дворе, является незаменимым атрибутом, своеобразным скелетом вашего дома, по которому Вы 
                можете передивгаться вертикально
                <a href="lestnici/perila.html" title class="selector-button" title="Лестницы">Перейти</a>
              </div>
            </div>
          </section>
          <div class="last-works">
          <div class="hb_m">Последние работы</div>
          <div class="gal-block">
          <div class="gallery-list vorota">
            <div href="static/pic/per5.jpg" class="gallery-item"title="Перила №25">
            <div class="pic_gallery"><img src="static/pic/kriltso.jpg" alt="Перила №6"></div>
            </div>
            
            <div href="static/pic/per6.jpg" class="gallery-item"title="Беседка №7">
            <div class="pic_gallery"><img src="static/pic/б.png" alt="Беседка №27"></div>
            </div>
            
            <div class="gallery-item"title="Перила №8">
            <div class="pic_gallery"><img src="static/pic/per7.jpg" alt="Перила №8"></div>
            </div>
          </div>
        </div>
          </div>
            <div class="selector-block">
              <div class="selector-img"><img src="static/pic/int1.jpg" alt="Изображение"></div>
              <div class="selector-text">Помимо того, что кованая мебель чрезвычайно долговечна, она подчеркивает 
                статус её владельца, ведь каждый день соприкасаться с настоящим произведением искусства дано 
                далеко не каждому
                <a href="vorota/vorota.html" title class="selector-button" title="Ворота">Перейти</a>
              </div>
              
            </div>
            <div class="selector-block">
              <div class="selector-img l"><img src="static/pic/ext1.jpg" alt="Изображение"></div>
              <div class="selector-text l">Будь то кованая лавочка или мангал позади дома, всё это будет служить вам 
                верой и правдой огнромное количество лет, невзирая на любые погодные условия
                <a href="lestnici/perila.html" title class="selector-button" title="Лестницы">Перейти</a>
              </div>
            </div>
            <section class="page_services s services">
              <div class="hb_m">Мы также занимаемся</div>
              <div class="services_body">
                <div class="services_column main">
                  <div class="services_item">
                    <h3 class="services_item_title s">Ремонт кованых изделий любой сложности</h3>
                    <div class="services_item_icon imbc"><img src="static/pic/rem.jpg" alt="cover"></div>
                  </div>
                </div>
                <div class="services_column main">
                  <div class="services_item">
                    <h3 class="services_item_title s">Изготовление металлоконструкций</h3>
                    <div class="services_item_icon imbc"><img src="static/pic/kar.jpg" alt="cover"></div>
                    </div>
                  </div>
                  <div class="services_column main">
                    <div class="services_item">
                      <h3 class="services_item_title s">Аргоновая сварка автомобильных деталей</h3>
                      <div class="services_item_icon imbc"><img src="static/pic/avt.jpeg" alt="cover"></div>
                      </div>
                    </div>
                </div>
                </section>
                <div class="header-block">
                  <div class="hb_m">
                    Интересные статьи
                  </div>
                  <div class="header-block_sub-title">
                    Мы подготовили для вас несколько статей о деле всей нашей жизни, проитав которые, вы еще больше проникнитесь 
                    искусством ковки и сможете правильный выбор
                  </div>
                  <a href="articles-list/articleslist.html" title="Читать статьи" class="header-block_button">
                    Читать статьи
                  </a>
                </div>
                </div>
            </div>
        </div>
        </main>
 <!---------------------------------------------------------FOOTER--------------------------------------------------------------->
 {% endblock %}