{% extends 'base.html'%}
<!------------------------------------------------------HERO------------------------------------------------------------------>
{% block con %}
<div class="page">
          <div class="preview_image imbc">
            <img src="../static/pic/int.jpg" alt="Изображение">
            <div class="grad"></div>
          </div>
          <section class="page_services services">
            <div class="services_container container">
              <div class="services_body">
                <div class="services_column">
                  <a class="services_item" href="krovati/krovati.html">
                    <div class="services_item_icon imbc"><img src="../static/krovati/kro3.jpg" alt="Изображение"></div>
                    <h3 class="services_item_title">Кровати</h3>
                  </a>
                </div>
                <div class="services_column">
                  <a class="services_item" href="stoli_i_stulya/stoli_i_stulya.html">
                    <div class="services_item_icon imbc"><img src="../static/stolistulya/st6.jpg" alt="Изображение"></div>
                    <h3 class="services_item_title">Столы и стулья</h3>
                  </a>
                </div>
              </div>
            </div>
          </section>
          <div class="container">
          <div class="article_text">
            <h3>Кованая мебель</h3>
            <p>В современном обустройстве домов и квартир художественная ковка нашла свое отражение в изготовлении самых разнообразных предметов интерьера.
            Одним из самых распространенных элементов мебели являются кровати.
            Мебель из кованой стали обладает невероятной прочностью, красивым, элегантным внешним видом и хорошей практичностью.
            Большинство думают, что такая кровать подойдет только лишь для обустройства классического интерьера. На деле же это не так.<br>
            Кованые изделия отличаются крайней универсальностью.
            Их можно размещать в любом интерьере, где они буду чувствовать себя всегда на своем месте.</p>
            <div class="article_picture_center"><img src="../static/pic/int1.jpg"></div>
            <p>Если вы хотите создать визитную карточку своего дома, то использование такой мебели позволит вам это сделать.
            Заходя в ваш дом, первое, что видят ваши гости - это прихожая. Красиво обустроить ее при помощи обоев, краски, шкафов и т.д. будет недостаточно.
            Однако, всю ситуацию может резко поменять кованая банкетка.</p>

            <p>Отличием кованого изделия является то, что оно не нуждается в дополнительной модернизации.</p>
            <p>Покупая мебель на заказ, вы приобретаете то, что есть у производителя на складе.
            С коваными изделиями ситуация обстоит иначе. Вы изначально заказываете то, что вам нужно.
            То есть, складов с кованой мебелью попросту не существует. Все заказы начинают делаться только после их оформления.
            В процессе изготовления профессиональный кузнец будет соблюдать все требования и пожелания клиента.</p>
            <p><h3>Обращайтесь к нам!</h3></p>
          </div>
          </div>
        </div>
{% endblock %}