{% extends 'base.html'%}
<!------------------------------------------------------HERO------------------------------------------------------------------>
{% block con %}
<div class="page">
          <div class="preview_image imbc">
            <img src="../static/pic/ext.jpg" alt="Изображение">
            <div class="grad"></div>
          </div>
          <section class="page_services services">
            <div class="services_container container">
              <div class="services_body">
                <div class="services_column">
                  <a class="services_item" href="lavki_i_kacheli/lavki_i_kacheli.html">
                    <div class="services_item_icon imbc"><img src="../static/lavkikacheli/lav18.jpg" alt="cover"></div>
                    <h3 class="services_item_title">Лавки и качели</h3>
                  </a>
                </div>
                <div class="services_column">
                  <a class="services_item" href="mangaly/mangaly.html">
                    <div class="services_item_icon imbc"><img src="../static/mangali/man15.jpg" alt="cover"></div>
                    <h3 class="services_item_title">Мангалы</h3>
                  </a>
                </div>
              </div>
            </div>
          </section>
          <div class="container">
          <div class="article_text">
            <h3>Кованая мебель</h3>
            <p>Если вам нужна надежная мебель, которая может прослужить несколько десятилетий,
            то не стоит обращать свое внимание на деревянные аналоги.
            Если вы владеете своим кафе, рестораном, гостиницей или любым другим общественным помещением,
            то красиво дополнить картину дизайна вашего заведения может именно кованая мебель и аксессуары.
            Кованые изделия создадут тот уровень престижа, элитности и солидности, который позволит вам с уверенностью сказать,
            что ваше заведение является одним из лучших.</p>
           <p> В данный момент есть несколько типов мебели из металла, которые отличаются по природе производства и строению.</p>
            <div class="article_picture_center"><img src="../static/pic/ext1.jpg"></div>
            В зависимости от тонкостей их производства с художеством, они разделяются на такие группы:<br>
            <p>
              Штампованные. Здесь применяются пресс-формы и штампы. Они делают возможным рассмотреть большой выбор элементов,
              которые впоследствии соединяются в целостной конструкции любого объема и формы, которые только можно пожелать.
            </p>
            <p>Сварные. Их производство происходит из углеродистого сплава металлов, с помощью сварки материалов в целостный объект.</p>
            <p>
              Сборные. Для изготовления данного изделия происходит сборка большого количества частей.
              К главному достоинству именно этого вида можно отнести быстроту сборки и разборки.
            </p>
            <p>
              Литые. Производство происходит с помощью литья заранее изготовленных заготовок. Характерно применение чугуна и бронзы в качестве материалов.<br>
              Внешне кованая мебель может иметь совершенно разную форму, оттенок, узор.
            </p>
            <p>
              Дизайнер может выбрать определенный вариант, в зависимости от общей картины помещения и интерьера.
              Ни для кого не секрет, что массивная мебель с широкими частями, будет выглядеть неуместно в небольшом по площади помещении или в саду.
            </p>

            <p>Если вы хотите получить профессиональную консультацию по всем интересующим вас вопросам, то вам нужно обратиться к нам по номеру телефона.
            <p><h3>Обращайтесь к нам!</h3></p>
          </div>
          </div>
        </div>
{% endblock %}